.Partner{
    background-color: #F4F8FD;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    flex-wrap: wrap;
}

.imgofpartner{
    width: 268px;
    height: 268px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px;
}

.paraofpartner{
    width: 50%;
}